/* @import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Roboto&display=swap'); */
body{
    font-family: 'Dancing Script', cursive;
}
.p1{
font-style: italic;
font-weight: 500;
}
.p2{

font-weight: 700;
}
.p3{

font-weight: 900;
}